GitHub login error

<ul>
  <li>Your Email of GitHub account may already be registered with CNode.</li>
  <li>
    <p>It could also be that your GitHub does not provide a public Profile Email, which causes the registration to fail.</p>

    <p>Please visit ：https://github.com/settings/profile to set your Email address to be public. Please make sure that your GitHub personal home page can show the Email，like figure below：</p></li>
  <a href="https://github.com/alsotang" target="_blank"><img src="//static.cnodejs.org/QQ20140807-1.png"></a>
</ul>


