<div id='sidebar'>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>About</span>
    </div>
    <div class='inner'>
      <img src="<%- staticFile('/public/images/woman.png') %>" alt="">
      <p><%= config.description %></p>
      <p>In here, you can</p>
      <ul>
        <li>Bring up your problems with others</li>
        <li>Help someone with a problem</li>
        <li>Share your knowledge</li>
        <li>Make progress with others</li>
      </ul>
    </div>
  </div>
</div>