<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>Home Page</a><span class='divider'>/</span></li>
        <li class='active'> <%= user.loginname %>'s followers</li>
      </ul>
    </div>
    <div class='inner'>
      <% if (users.length > 0) { %>
      <%- partial('../user/user', { collection: users, as: 'user' }) %>
      <% } else { %>
      <p>No follower</p>
      <% } %>
    </div>
  </div>
</div>
