<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>home page</a><span class='divider'>/</span></li>
        <li class='active'>FAQ</li>
      </ul>
    </div>
    <div class='inner topic'>
      <h3>FAQ</h3>
      <hr/>
      <div class="topic_content">
        <p>A：What is the relationship between the CNode community and Node Club？</p>

        <p>Q：Node Club is an open source community software developed with Node.js and MongoDB. CNode is a Chinese technology community based on Node.js</p>
      </div>
    </div>
  </div>
</div>
